<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
    <preference for="Khoa\Currency\Api\TestInterface" type="Khoa\Currency\Model\Post"/>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="khoa_currency_post_listing_data_source" xsi:type="string">Khoa\Currency\Model\ResourceModel\Post\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <type name="Khoa\Currency\Controller\Index\PluginExample">
        <plugin name="Khoa_Currency_Plugin" type="Khoa\Currency\Plugin\Example" sortOrder="10" disabled="false"  />
    </type>
    <!--<type name="Magento\Catalog\Ui\Component\Listing\Columns\ProductActions">-->
        <!--<plugin name="my-plugin-name" type="[Namespace]\[Module]\Plugin\ProductActions" sortOrder="10" />-->
    <!--</type>-->
    <virtualType name="Khoa\Currency\Model\ResourceModel\Post\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">khoa_currency</argument>
            <argument name="resourceModel" xsi:type="string">Khoa\Currency\Model\ResourceModel\Post</argument>
        </arguments>
    </virtualType>

    <!--<type name="Magento\Framework\Console\CommandList">-->
        <!--<arguments>-->
            <!--<argument name="commands" xsi:type="array">-->
                <!--<item name="exampleSayHello" xsi:type="object">Khoa\Currency\Console\Sayhello</item>-->
            <!--</argument>-->
        <!--</arguments>-->
    <!--</type>-->
    <!--<type name="Magento\Sales\Api\OrderRepositoryInterface">-->
        <!--<plugin name="save_khoa_attribute" type="Khoa\Currency\Plugin\OrderSave"/>-->
        <!--<plugin name="get_khoa_attribute" type="Khoa\Currency\Plugin\OrderGet"/>-->
    <!--</type>-->
</config>