<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Khoa_Currency::currency"
             title="Khoa Currency"
             module="Khoa_Currency"
             sortOrder="21"
             resource="Magento_Backend::content"/>
        <add id="Khoa_Currency::products"
             title="Products"
             module="Khoa_Currency"
             sortOrder="10"
             parent="Khoa_Currency::currency"
             action="currency/products/"
             resource="Magento_Backend::content"/>
    </menu>
</config>